
.navbar-brand,
.navbar-nav li a {
    line-height: 9vh;
    height: 12vh;
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    color: #FFF;

}

#right{
    position: fixed;
    right: 10px;
    background-color: #149299;
    padding: 1em 1.5em;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 600;
    color: #FFF;

    height: 80vh;
    width: 77vw;

}
#left{
    position: fixed;
    left: 10px;
    background-color:lightgray;


    height: 80vh;
    width: 21vw;
    padding: 1em 1.5em;
    letter-spacing: 1px;

    font-size: 1.05em;
    font-weight: 600;
    color: #000000;


}
#image{

    position:absolute;
    top:45vh;
    right:4vw;
    margin-top:-40vh;
    margin-left:-40vw;
}

#body{
    padding: 1em 1.5em;
    letter-spacing: 1px;

    width: 60vw;

    font-size: 1.05em;
    font-weight: 600;
    color: #FFF;

}