<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<h2><span class="glyphicon glyphicon-bookmark"></span> {{certline}} </h2>

<div id="certhead">
    <h5>TCS-Harbinger (Certification of Appreciation)&nbsp &nbsp &nbsp Oracle Certified Professional&nbsp&nbsp(DBA)&nbsp &nbsp &nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Oracle Certified Associate&nbsp&nbsp(DBA)</h5>
</div>


<div id="certleft">
      <a href="../pdf/tcs.pdf" target="_blank"><img src="../images/tcs.jpg" width="320px" height="220px"> </a>&nbsp  &nbsp  &nbsp<a href="../pdf/ocp.pdf" target="_blank"><img src="../images/ocp.jpg" width="320px" height="220px"> </a>&nbsp  &nbsp  &nbsp<a href="../pdf/oca.pdf" target="_blank"><img src="../images/oca.jpg" width="320px" height="220px"> </a>

</div>



