<h2><span class="glyphicon glyphicon-tags"></span> {{headline}}</h2>

<div id="description">
    <p>
        <span class="glyphicon glyphicon-pencil"></span>	Big Data : Hadoop, Map Reduce, Pig<br><br>
        <span class="glyphicon glyphicon-pencil"></span>	Web Technologies : AngularJS, HTML5, CSS3, JavaScript<br><br>
        <span class="glyphicon glyphicon-pencil"></span>	Server Side Technologies : Node.js, PHP<br><br>
        <span class="glyphicon glyphicon-pencil"></span>	Programming Languages : C, C++, Java, Python<br><br>
        <span class="glyphicon glyphicon-pencil"></span>	Frameworks : Structs1.3 , Express<br><br>
        <span class="glyphicon glyphicon-pencil"></span>	Operating Systems : Windows, UNIX<br><br>
        <span class="glyphicon glyphicon-pencil"></span>	Database and Server : MySQL, SQL, Oracle, Mongodb
    </p>
</div>
