<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<h2> <span class="glyphicon glyphicon-lock"></span> {{headline}}</h2>

<div id="complete">

    <h3>Graduate Research Assistant at University of Central Florida<br>(January 2016 - Till Date)</h3>
    <div id="description"><p> &nbsp  &nbsp  &nbsp I'm currently working under guidance of Dr.Gary T.Leavens on Inside Operator which is used for translating separation logic to dynamic frames or region logic and implement to JML(Java Modeling Language)
</p>
</div>

    <h3>Graduate Teaching Assistant at University of Central Florida<br>(August 2015 - December 2015)</h3>
    <div id="description"><p>Graduate Teaching Assistant for Intro to C Programming (COP3223) course.
<br>
        My Primary Responsibilities includes :<br>
        > Hold the office hours to help the students to understand the programming concepts in C<br>
        > Grade the assignments and examinations<br>
        > Develop the course materials such as answer keys and supplement notes
</p>
        </div>
    <h3>Assistant System Engineer at Tata Consultancy Services Limited, India<br>(November 2013 - July 2015)</h3>
    <div id="description"><p>PROJECT: Ultimatix
<br>
        &nbsp  &nbsp  &nbsp Ultimatix is a web based application used within Tata Consultancy Services Limited(TCS) which gives access to many resources mainly To Check Project Status, Access to pay rolls, Request the leaves, Chat with employers within the organization, Online documentation, News feed about the organization and Forums to discuss the technical issues,latest technologies to employees of the TCS.
<br><br>
        CONTRIBUTION:
        <br>> Developed and implemented the functionalities such as Authentication of users, Defining the features access according to the roles and Creating the leave request forms using Struts1.3 Framework including JSP, Servlets, EJB, Form Bean and Action classes.
        <br>> Created and deployed web pages using HTML, JSP, JavaScript and CSS.
        <br>> Used ANT automated build scripts to compile and package the application and implemented Log4j for the project.
        <br>> Involved in various phases of Software Development Life Cycle (SDLC) of the application like Requirement gathering, Design, Analysis and Code development.
        <br>> Developed a prototype of the application and demonstrated to business users to verify the application functionality.
        <br>> Designed Use case diagrams, Class diagrams and Sequence diagrams using UML.

</p>
        </div>

    </div>